<div class="card text-center col-md-3 m-2">
    <div class="card-header">
        <h5><%= title %></h5>
    </div>
    <div class="card-body">
        <img class="img-fluid img-thumbnail" src=" <%=image%>"></img>
        <p class="card-text"><%=description%></p>
        <p class="card-text"><%=price%></p>
        <a href="#" class="btn btn-primary">View</a>
    </div>
    <div class="card-footer text-muted">
        <% for (var categoryEntry = 0; categoryEntry < category.length; categoryEntry++){ %>
        <span> <%=category[categoryEntry]%> </span>
        <% }; %>
    </div>
</div>