<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- Latest compiled and minified CSS -->
    <title>Home</title>
</head>

<body class="">

    <div class="container mw-100">
        <%- include('../partials/navbar.ejs',{user:user}) %>
        <%- include('../partials/loginModal.ejs',{errorLogin:false}) %>
        <%- include('../partials/signupModal.ejs',{errorSignup:false}) %>
        <div class="row bg-light p-3 offset-md-2 col-md-8">
            <form class=" flex-fill">
                <div class="form-row">
                    <div class="col-md-6">
                        <input class="form-control m-3" type="text" name="search" placeholder="Search" />
                    </div>
                    <div class="ml-auto">
                        <select title="Category" name="searchCategory" id="searchCategory"
                            class="selectpicker m-3 form-control" multiple>
                            <option>History</option>
                            <option>Geology</option>
                            <option>Art</option>
                            <option>ETC ADD MORE</option>
                        </select>
                    </div>
                    <div class="ml-auto">
                        <button type="submit" class="btn m-3 btn-primary">Search</button>
                    </div>
                </div>
        </div>
        <div class="row offset-md-2">
            <%- include('../partials/searchEntry.ejs',
            {title:"Test Title",
            description: "TEST TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST TESTTESTTEST TESTTESTTEST TEST ",
            price: 19.65,
            category: ["Geology","Math"],
            image: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Textbook.JPG/440px-Textbook.JPG"});
            %>
            <%- include('../partials/searchEntry.ejs',
            {title:"Test Title",
            description: "TEST TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST TESTTESTTEST TESTTESTTEST TEST ",
            price: 19.65,
            category: ["Geology","Math"],
            image: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Textbook.JPG/440px-Textbook.JPG"});
            %>
            <%- include('../partials/searchEntry.ejs',
            {title:"Test Title",
            description: "TEST TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST TESTTESTTEST TESTTESTTEST TEST ",
            price: 19.65,
            category: ["Geology","Math"],
            image: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Textbook.JPG/440px-Textbook.JPG"});
            %>
            <%- include('../partials/searchEntry.ejs',
            {title:"Test Title",
            description: "TEST TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST TESTTESTTEST TESTTESTTEST TEST ",
            price: 19.65,
            category: ["Geology","Math"],
            image: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Textbook.JPG/440px-Textbook.JPG"});
            %>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
</body>

</html>